// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body, html {
    margin: 0;
    padding: 0;
    min-width: 800px;
    height: 100%;
    min-height: 100%;
}

* {
    font-family: 'ヒラギノ角ゴ Pro Regular', Optima, Georgia, Roboto, Verdana, sans-serif;
    src:url("http://www.myfontfree.com/data/1/o/optima/unicode.optima.ttf");
}

button:focus {
    outline: 0;
}
button {
    padding: 0;
    background-color: transparent;
    border: 0;
    display: block;
}

input:focus {
    outline: 0
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;

    &:active, &:visited {
        color: inherit;
    }
}

$orange: #f8ae2e;
$dark-orange: #ee7624;
$blue: #42aafa;
$gold-color: #cc9966;

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;    
  clear: both; 
  visibility:hidden;
}

.clearfix { display: inline-block; } 

.right {
    float: right;
}
.scrollable {
    overflow: scroll;
}
.inline {
    display: inline-block;
}

select.dark-select {
    border: 1px solid #000;
    font-size: 14px;
    color: #fff;
    background: #444;
    padding: 5px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
}


#main, #main > div {
    min-width: 100%;
    height: 100%;
    min-height: 100%;   
    position: relative;
}

.col-half {
    float: left;
    width: 50%;display: block;
}

.orange {
    color: $orange;
    font-size: 80%;
    letter-spacing: 0.1em;
}
.blue {
    color: $blue;
    font-size: 80%;
    letter-spacing: 0.2em;
}

$header-height: 50px;
header {
    height: $header-height;
    background-color: #009bdf;
    width: 100%;

    > .logo {
        float: left;
        margin-left: 80px;
        display: block;
        height: $header-height;
        line-height: $header-height;
        vertical-align: middle;
        font-size: 28px;

        > img{
            margin-top: 10px;
        }

        > .white {
            color: #cccccc;
        }
    }

    > .btn {
        display: block;
        width: 120px;
        height: $header-height;
        line-height: $header-height;
        vertical-align: middle;
        background-color: #192299;
        color: white;
        text-align: center;
        text-decoration: none;
    }
}

.container {

    $sidebar-width: 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: $header-height;
    height: calc(100% - #{$header-height});

    .sidebar {
        float: left;
        background-color: #c9c9c9;
        list-style-type: none;
        padding: 0;
        height: 100%;
        width: $sidebar-width;
        margin: 0;

        > li {
            position: relative;
            display: block;
            width: $sidebar-width;
            height: $sidebar-width;

            > a {
                padding: 8px;
                width: calc(100% - 16px);
                height: calc(100% - 16px);
            }

            > a, img{
                opacity: 0.6;
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .inner-container {
        float: left;
        height: 100%;
        width: calc(100% - #{$sidebar-width});

        .half-container {
            width: 50%;
            float: left;
            height: 100%;

            &.userList {
                background-color: #c2c6c9;
            }
        }
    }
}


.halfPage {
    
    width: 100%;
    height: 100%;
    position: relative;

    .halfPage-cover {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .dark-cover {
        background-color: black;
        opacity: 0.75;
    }

    .profile-cover {
        background-image: url(/assets/imgs/ic_profile_background.jpg);
        background-size: 80% auto;
        background-repeat: no-repeat;
        background-position: 150% 120%;
        background-attachment: scroll;
    }

    .icon{
        margin-top:5%; 
    }

    .halfPage-title {
        color: $gold-color;
        padding-top: 20px;
        padding-left: 7%;
        letter-spacing: 0.3em;
        font-size: 17.75px;
    }

    .halfPage-group {
        margin-top: 15px;
        margin-left: 7%;
        margin-right: 7%;
    }

    .content {
        padding: 20px;
        height: calc(100% - 40px);
        color: white;
        position: relative;
        z-index: 1;
        line-height: 24px;
        font-size: 16px;


        input, textarea {
            display: block;
            width: calc(100% - 24px);
            height: 20px;
            padding: 7px 12px;
            font-size: 12px;
            border: 0;
            background-color: rgba(255,255,255,0.3);
            color: white;
        }
        textarea {
            height: 200px;
        }

        .btn {
            color: $gold-color;
            border: 1px solid $gold-color;
            display: block;
            margin-top: 15px;
            margin-right: 49px;
            width: 150px;
            text-align: center;
            background-color: transparent;
            padding: 7px;
            font-size: 16px;

        }

        .favouriteItem {
            width: 85%;
            margin-top: 15px;
            margin-right: 7%;
            margin-left: 7%;
            background: rgba(0,0,0,0.3);
            position: relative;

            .profileImg {
                width: 100px;
                height: 100px;
                display: block;
                float: left;
            }
            .profileMeta {
                float: left;
                margin: 0 15px;
                max-width: calc(100% - 130px);

                > .profileDesc {
                    line-height: 15px;
                    font-size: 70%;
                }
            }

            .favouriteRemove {
                position: absolute;
                top: 0;
                right: 0;
                
                &:hover {
                    cursor: pointer;
                }
            }

            .cross {
                display: block;
                height: 30px;
                width: 30px;
                transform: rotate(45deg);
            }
        }
    }
}

.chatroom.content {
    padding: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    .chatroomTopbar {
        display: block;
        background-color: black;
        color: white;
        padding: 5px 10px;

        .blue {
            margin-left: 20px;
        }
    }
     
    .chatroomTitle {
        color: black;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        background-color: #dbdbdb;
        width: 100%;

        a {
            margin-left: 10px;
        }

        .btn-appointment {
            display: block;
            width: 140px;
            background-color: #ee7624;
            text-align: center;
            line-height: 1.5;
            color: white;
            font-size: 13px;
            padding: 7px;
            border-radius: 5px;
            margin: -23px 10px 15px;

            > img {
                width: 30px;
                display: inline-block;
            }

        }
    }

    .btn-clip{
        display: block;
        width: 30px;
        background-color: #99ccff;
        line-height: 1.5;
        color: white;
        font-size: 13px;
        padding: 7px;
        border-radius: 5px;
        margin: 0;

        > img {
            width: 15px;
            display: inline-block;
        }
    }


    .chatroomMessage {
        padding: 20px;
        display: block;
        width: 100%;
        height: calc(100% - 140px);
        box-sizing: border-box;
    }

    .messageItem {

        width: 100%;

        img {
            display: inline-block;
            width: 50px;
            height: 50px;
            float: left;
            margin-top: 20px;
        }

        $bubbleTriangleLength: 15px;

        p {
            position: relative;
            margin: 0 0 0 10px;
            color: black;
            display: inline-block;
            padding: 7px;
            background-color: white;
            float: left;

            &:after {
                content: "";
                position: absolute;
                bottom: -$bubbleTriangleLength;
                left: 5px;
                border-width: $bubbleTriangleLength $bubbleTriangleLength 0 0;
                border-style: solid;
                border-color: white transparent;
                display: block;
                width: 0;
            }
        }

        &.toRight {
            img, p{
                float: right;
            }

            p {
                margin-right: 10px;
            }

            p:after {
                border-width: $bubbleTriangleLength 0 0 $bubbleTriangleLength;
                left: auto;
                right: 5px;
            }
        }
    }

    .chatBox {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        background-color: #006699;
        height: 50px;

        .btnUpload {
            float: left;
        }

        .formText {
            display: block;
            float: left;
            margin: 7px;
            width: calc(100% - 90px);
        }

        .btnSubmit {
            padding: 0;
            border: 0;
            background-color: #6699cc;
            display: block;
            float: left;
            margin-top: 7px;
            width: 40px;
            height: 40px;
        }
    }
}


.chatroomItem {
    position: relative;
    display: block;
    margin-top:10px;
    margin-left:7%;
    margin-right:7%;
    width: 85%;
    background-color: #dbdbdb;
    color: #222;
    border-radius: 7px;

    &:first-child {
        margin-top: 0;
    }

    .chatroomImg {
        display: block;
        float: left;
        width: 60px;
        height: 60px;
        margin: 10px;
    }
    .chatroomInfo {
        float: left;
        margin-left: 15px;
        width: calc(100% - 95px);
        color: black;

        .opponentName {
            margin-top: 12px;
            line-height: 25px;
            font-size: 16px;
            vertical-align: middle;
        }


        .meta {
            > .metaItem {
                display: block;
            }            
        }
    }

    .unreadBox {
        $radius: 25px;
        position: absolute;
        right: 10px;
        top: calc(50% - #{$radius / 2});
        color: white;
        display: block;
        width: $radius;
        height: $radius;
        line-height: $radius;
        border-radius: $radius;
        background-color: #5fb4e5;
        text-align: center; 
    }    
}

.chatroomWI{
        font-size: 12px;
        line-height: 16px;
}


.userListPage {
    > .userItem {
        $userItemHeight: 350px;
        float: left;
        width: 194px;
        height: $userItemHeight;
        display: block;
        position: relative;
        background-color: #d7d2c5;
        margin: 30px 0 0 30px;

        > .triangle {
            position: absolute;
            top: 0;
            z-index: 2;
            width: 0;
            height: 0;
            padding: 0;
            background-color: transparent;
            border-style: solid;
            border-width: 50px 50px 0 0;
            opacity: 0.8;
            border-color: #151a60 transparent transparent transparent;

            &:hover {
                cursor: pointer;
            }

            > img {
                position: absolute;
                top: -45px;
                left: 2px;
                display: block;
                width: 24px;
                height: 24px;
            }
        }

        > .cover {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            color: white;
            opacity: 0;
            line-height: $userItemHeight;
            text-align: center;
            vertical-align: middle;

            .middleInCover {
                line-height: 20px;
                display: inline-block;
            }

            &:hover {
                cursor: pointer;
                opacity: 1;
                background-color: rgba(0,0,0,.6);
            }
        }

        > img {
            display: block;
            width: 100%;
        }

        > .userMeta {
            text-align: center;

            .userName {
                margin-top: 5px;
            }

            .line {
                display: inline-block;
                line-height: 25px;
                width: 100%;
                margin: 4px 0;
                color: white;
                font-size: 12px;
            }

                .resource1 {
                    display: inline-block;
                    background-color: #54565b;
                    line-height: 25px;
                    width: 98%;
                    color: white;
                    font-size: 12px;
                    border: inset 2px #ff9966;
                    
                }
                .resource2 {
                    display: inline-block;
                    background-color: #54565b;
                    line-height: 25px;
                    width: 98%;
                    color: white;
                    font-size: 12px;
                    border: inset 2px #3399cc;
                    
                }

            .userDesc {
                font-size: 60%;
                padding: 2% 5%;

            }
        }
    }
}    

.loginPage {
    height: 100%;
    width: 100%;
    color: white;
    position: relative;

    .bg, .dark-cover {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .dark-cover {
        z-index: -1;
        background-color: black;
        opacity: 0.7;
    }
    .bg {
        z-index: -2;
        background: url(/assets/imgs/top_bg.jpg);
        background-size: cover;
    }

    .content {
        padding: 35px;

        .brandname {
            font-size: 60px;
            .blue {
                color: #248dc1;
            }
        }

        .btn_group {
            text-align: center;
            
            > * {
                display: inline-block;
            }

            .btn_login {
                
                width: 300px;
                margin-right: 20px;
                text-align: center;
                padding: 13px 0;
                color: white;
                border-radius: 7px;
                box-shadow: 5px 5px rgb(10,34,64);
            }
        }
    }    
}

.btn_fb_login {
    background-color: #002f87;
}
.btn_tw_login {
    background-color: #0071CE;
}

.infoPage {
    margin-left: 30px;
    max-width: 420px;

    > img {
        display: inline-block;
        width: 80%;
    }
}

.profilePage {

    .share {
        width: 100%;
    }

    .form-group {
        margin-top: 10px;
    }

    .btn-gray {
        display: block;
        background-color: #bfbfbf;
        color: black;
        padding: 6px;
        border-radius: 5px;
        width: 100px;

        >img {
            display: inline-block;
            width: 27px;
        }

    }

    .profileImage {
        width: calc(100% - 20px);
        margin-right: 20px;
        padding: 0;
        border: 0;
        position: relative;

        > img {
            width: 100%;
            display: block;
        }

        > input {
            position: absolute;
            width: 1px;
            top: 0;
            z-index: -1;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .dark-select {
        background-color: rgba(255, 255, 255, 0.3);
        border: 0;
        width: 80%;
    }

    .isPublic {
        color: white;
        margin-top: 15px;
        padding: 7px;
        width: 100px;

        > input {
            width: auto;
            display: inline;
        }
    }
}

.notificationBox {
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    background-color: #dc0d17;
    color: #fff;
    padding: 1px 3px;
    right: -3px;
    top: 3px;
    font-size: 10px;
    z-index: 1;
}

.notificationSystem {
    position: fixed;
    right: 20px;
    bottom: 20px;

    .notificationItem {
        display: block;
        margin: 0 0 6px;
        padding: 15px 15px 15px 50px;
        font-size: 14px;
        width: 250px;
        box-shadow: 0 0 12px #999;
        color: #fff;
        opacity: .8;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        filter: alpha(opacity=80);

        &.info {
            background-color: #2f96b4;
        }

        &.success {
            background-color: #51a351;
        }

        &:hover {
            cursor: pointer;
        }
    }
}   

.appointmentCreatePage.content {
    position: relative;
    top: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.9);


    .fence {
        position: relative;
        border: 1px solid white;
        padding: 0 20px 20px;
        margin-top: 20px;
        margin-left: 49px;
        margin-right: 49px;
    }

    .price {
        text-align: center;
        font-size: 20px;
        margin-top: 200px;
        span {
            margin-left: 30px;
        }
    }

    .explain-group {
        position: absolute;
        background-color: rgba(0,0,0,0.9);
        width: calc(100% - 40px);
        height: 100%;

        button {
            width: 40px;
            height: 40px;
            float: right;
            margin: 20px 0;

            > img {
                transform: rotate(45deg);
                width: 100%;
                display: block;
            }
        }

        .explain-bg {
            width: 100%;
        }
    }

    .form-people {
        width: 100%;

        > .middle {
            float: left;
            width: 40px;
            margin-top: 30px;

            > img {
                width: calc(100% - 10px);
                margin: 5px;
                display: block;
            }
        }

        > .form-group {
            width: calc(50% - 20px);
            float: left;
        }
    }

    .form-group {
        width: 100%;
        margin-top: 20px;

        .icon {
            display: inline-block;
        }

        input {
            background-color: rgba(255,255,255,0.4);
            color: white;

            &[disabled] {
                color: #bfbfbf;
                background-color: rgba(255,255,255,0.2);
            }
        }

        &.guest {
            label {
                display: block;

            }

            input {
                background-color: $dark-orange;
            }

            .questionmark {
                float: right;
                > img {
                    width: 40px;
                    display: block;

                }
            }
        }

        &.date-group {
            label {
                display: block;
            }
        }
    }

    .btn-submit {
        float: right; 
        padding: 5px 15px;
        color: white;
        font-size: 15px;
        background-color: $dark-orange;
        border-radius: 15px;
    }
}

.configurationList {
    list-style-type: none;
    padding: 0;

    li {
        display: block;
        background-color: rgba(255,255,255,0.4);
        margin-bottom: 5px;
        margin-right:7%; 
        margin-left:7%;

        .item-label {
            position: relative;
            padding: 10px;
            display: block;
            width: calc(100% - 20px);
            line-height: 30px;
            height: 30px;

            &:after {
                position: absolute;
                content: " ";
                right: 10px;
                top: 15px;
                width: 0; 
                height: 0; 
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent; 
                
                border-left:10px solid white; 
            }
        }

        .page-content {
            padding: 10px;

            iframe {
                width: 100%;
                height: 300px;
                background-color: white;
            }
        }
    }
}


.appintmentListPage {

    .appointList {
        margin-top: 10px;
    }

    .appointItem {
        width: 100%;
        background: rgba(0,0,0,0.3);
        position: relative;
        margin-right:7%; 
        margin-left:7%;

        .profileImg {
            margin: 10px;
            width: 50px;
            height: 50px;
            display: block;
            float: left;
        }
        .profileMeta {
            float: left;
            width: calc(100% - 70px);
            margin-top: 7px;

            p {
                margin: 0;
            }

            .profileMetaLeft {
                float: left; 
            }
            .profileMetaRight {
                margin-right: 7px;
                float: right;
            }
        }
    }
}

.appointDetail {
    margin-left: 20px;

    .col-2, .col-1 {
        margin-top: 20px;        
    }

    .col-2 {
        float: left;
        width: calc(50% - 20px); 
        margin-right: 20px;

    }
    .col-1 {
        float: left;
        width: calc(100% - 20px);
        margin-right: 20px;
    }

    .bg-gray {
        background-color: rgba(255,255,255,0.3);
        padding: 10px;
    }

    .appointFund {
        margin-top: 40px;
        text-align: center;
        margin-left: -20px;

        > * {
            margin: 0;
        }
        .large {
            font-size: 25px;
        }
    }
}

.tutorialPage {

    width: 100%;
    height: 100%;
    position: relative;

    .step {
        width: 100%;
        height: 100%;
    }

    .point {
        position: absolute;
        top: 50%;
        left: 51%; 
    }

    .leftArrow {
        position: absolute;
        top: 46%;
        left: 45%;
    }


    .rightArrow {
        position: absolute;
        top: 46%;
        left: 54%;
    }

    .status {
        position: absolute;
        top: 60%;
        left: 48%;
    }
}